.picker {
  position: relative;
  width: 30rem;
  max-width: 80%;
  height: 20rem;
  max-height: 30vh;
  border: 1px solid var(--ion-color-primary);
  margin: 16px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.remove-button-image {
  position: absolute;
  top: 0;
  right: 0;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

input[type='file'] {
  display: none;
}
