<ion-content [fullscreen]="true">
  <video class="video__main" loop="'loop'" [autoplay]="'autoplay'" [muted]="'muted'"
         src="./assets/video/attractions720.mp4"></video>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let travel of items$ | async" sizeXs="12" sizeLg="4">
        <ion-card (click)="showDetails(travel)" button="true">
          <ion-card-header (click)="showGoogleMaps(travel, $event)" color="secondary">
            {{travel.name}}
          </ion-card-header>
          <ion-card-content>
            <ion-img [src]="travel.photos && travel.photos[0] && travel.photos[0].data ?
            travel.photos[0].data : './assets/static/no-photo.jpg'"></ion-img>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col sizeLg="4">
        <ion-card (click)="createNewTravelItem()" button="true" class="ion-text-center ion-card">
          <ion-card-header color="success" class="ion-justify-content-center ion-align-items-center">
            <ion-icon class="add ion-margin-end" name="add-circle-outline"></ion-icon>
            <span>{{'HOME.ADD_NEW_ITEM' | translate}}</span>
          </ion-card-header>
          <ion-card-content>
            <ion-img src="./assets/static/temp-travel.jpg"></ion-img>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-card *ngIf="!isClosedMap">
          <ion-card-header class="google-maps-header ion-align-items-center ion-justify-content-between" color="secondary">
            {{'HOME.GOOGLE_MAPS' | translate}}
            <ion-button class="close-map" size="small" *ngIf="!isClosedMap" color="danger" (click)="closeMap()">X</ion-button>
          </ion-card-header>
          <ion-card-content>
            <div class="map" id="map"></div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
