@media (min-width: 992px) {
  ion-img {
    height: 200px;
  }
}

ion-card-header.ion-align-items-center.ion-justify-content-center {
  display: flex;
}

ion-card-content {
  margin-top: 6px;
}

.video__main {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
}

@media (max-width: 991px) {
  .video__main {
    display: none;
  }
}

.map {
  min-height: 500px;
}

.google-maps-header {
  display: flex;
}
